.App {
  padding: 20px;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  font-size: calc(10px + 2vmin);
}

.layout{
  display: grid;
  /* 1 free space 1 freespace  */
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.star{
  color: orange;
}

.rate-star{
  color: purple;
  cursor: pointer;
}

.rate-container{
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid purple;
}

.rate-container .fa-star{
  font-size: 1.2rem;
}